.wrapper {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url('/media/bannerLogin.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 100vh;
  width: 50%;
  padding: 30px;
  padding-top: 80px;
  border-radius: 0;
  align-content: center;
  position: relative;
  z-index: 1;
  background: white;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  text-align: center;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: 50px;
}

.wrapperInputForm {
  justify-self: center;
}

.buttonWrapperEnd {
  display: flex;
  justify-content: flex-end;
}
