// Global wrapper styles
.wrapper {
  background-color: white;
  border: solid 1px var(--mantine-color-gray-3);
  padding: var(--mantine-radius-lg);
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: var(--mantine-spacing-md);
  transition: margin-left 0.2s ease;
  margin-left: 300px;

  &.collapsed {
    margin-left: 65px;
  }
}

.card {
  background-color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-sm);
  padding: var(--mantine-spacing-lg);
  height: 100%;
}

.page-container {
  padding: var(--mantine-spacing-md);
  height: 100%;
}

.section {
  margin-bottom: var(--mantine-spacing-lg);

  &:last-child {
    margin-bottom: 0;
  }
}
